.navbar-brand{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.5rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-content {
    flex: 1;
}
