.navbar-laravel{
    color: #1b1e21;
}
.navbar-brand{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.5rem;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app-content {
    flex: 1;
}